html{
    height: 100%;
}
body{
    min-height: 100%;
    padding: 0; margin: 0;
    font-family: 'Roboto Mono', monospace;
}
#game{
    color: #fff;
    background: #000;
    padding: 20px;


}
.game-display{
    position: relative;
    margin: 0 auto;
    padding: 20px;
    background: rgba(255, 255, 255, .03);
    border: 1px solid rgba(255, 255, 255, .1);
}


.digit-label{
    font-size: 1em;
    opacity: .5;
}

.digit-value{
    font-size: 2em;
    font-weight: bold;
}

.score-win{
    color: yellow;
}

.modal{
    position: absolute;
      bottom: 0; left: 0; right: 0; top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0, .9);
}
.modal-title{
    font-size: 2em;
    margin-bottom: 10px;
}

.modal-content{
  background: red;
  width: 500px;
  padding: 50px;
}
.digit + .btn{
    margin-top: 20px;
}

.btn{
    padding: 10px;
    border: none;
    cursor: pointer;
}
.btn-light{
    background: white;
    color: #000;

}

.btn-light:hover{
    background: #000;
    color: #fff;

}

.btn-lg{
    font-size: 1.2em;
    padding: 12px;
}
